* {
    /**
     * 为了让所有的元素背景色变化具有一定的转换效果
     */
    transition: background 200ms;
}

body {
    background-color: #f9f9f9;
}

img {
    display: block;
    width: 100%;
    margin:0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    /*上下为0， 左右auto，实现居中*/
    display: block;
}

/**
 * 消除容器前后的浮动
 */
.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fr,
.fl {
    margin: 2px 3px;
}

/**
 * 页面布局的关键之一就是构造一个"统一的页面分割系统"
 * 下面的这种方式，通过创建一系列的col-XX的选择器，提示
 * 用户使用该类会让元素具有相对于父元素xx%宽度的效果, 并且
 * 左浮动行内显示
 */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    float: left;
    display: inline-block;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 95%;
}

.col-10 {
    width: 100%;
}

.top-nav {
    background-color: #eee;
}

.top-nav .item {
    display: inline-block;
    color: #666;
    padding: 10px 0;
}

.top-nav .item:hover {
    color: #333;
}

.header {
    padding: 20px 0;
}

.header .logo {
    font-size: 30px;
}

.header .search-bar {
    border: 2px solid #db182b;
    box-sizing: border-box;
    background-color: #db182b;
}

.header .search-bar input,
.header .search-bar button {
    display: block;
    float: left;
    border: 0;
    padding: 10px;
    font-size: 100%;

    /**
     * 当你设置一个元素为 box-sizing: border-box; 时，
     * 此元素的内边距和边框不再会增加它的宽度
     *  http://zh.learnlayout.com/box-sizing.html
     */
    box-sizing: border-box;

    outline: 0;
    /* 清除蓝色的边框 */
}

.header .search-bar input {
    width: 80%;
}

/**
 * 当用户移动到搜索框时，为提示用户，
 * 添加搜索框的内边框阴影
 */
.header .search-bar input:focus { /* focus之前不能有空格*/
    box-shadow: inset 0 0 2px 2px rgba(0,0,0, 0.3);
}

.header .search-bar button {
    width: 20%;
    background-color: #db182b;
    color: #FFF;
}

.header .search-bar button:hover {
    background-color: #bf0b1c;
}

.header .cart a {
    float: right;
    padding: 10px;
    width: 80%;
    color: #db182b;
    text-align: center;
    border: 2px solid #eee;
    text-decoration: none;/*去掉超链接的下划线*/
}

/**
 * 主销售栏目
 */
.main-promote {
    background-color: #dedede;
}

/**
 * 主销售栏目分类页的背景色以及文字颜色
 */
.main-promote .cat { 
    background-color: #6e6568;
    color: #fff;
}

.main-promote .cat .item {
     padding: 20px 20px;
}

.main-promote .cat .item:hover{
     background-color: rgba(0,0,0,0.2);
}

/**
 * 信息公告栏
 */
.main-promote .info {
    padding: 10px;
    width: 19%;
    margin-left: 1%;
    box-sizing: border-box;
    background-color: #fff;
    line-height: 50px; /* 文字高度适中 */
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}


.main-promote .info .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #777;
    float: left;
    margin-right: 10px;
}

.main-promote .info .anno {
    line-height: 1.7; /* 文字高度适中 */
}

/**
 * 分类促销前的标题[女装]
 */
.categrey-promote .title {
    font-size: 22px;
    padding: 5px 0;
}

.categrey-promote .title:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 25px;
    margin-right: 10px;
    background-color: #db182b;
}

.categrey-promote .item {
    box-sizing: border-box;
    padding:5px;
}

.categrey-promote .item .card {
    height: 300px;
    background-color: #ccc;
}

/**
 * 页脚
 */
.footer {
    margin-top: 30px;
    padding: 30px 0;
    text-align: center;
    background-color: #eee;
    color: #999;
}